* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato";
}

body {
  overflow-x: hidden;
}

.input,
.button {
  border-radius: 20px;
  height: 42px;
}

.primary {
  background-color: #fd7607;
}

.primary:hover {
  background-color: #e66b06;
  transition: all 0.1s;
}

.blue-btn {
  background-color: #01216b;
  transition: all 0.1s;
}

.blue-btn:hover {
  background-color: #0236b0;
}

.button {
  font-style: normal;
  font-weight: bold;
  width: 164px;
  height: 42px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 20px;
  line-height: 17px;
  letter-spacing: 0.02em;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.input {
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #01216b;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #f3f3f3;
  width: 163px;
  background-color: #ffffff;
  padding: 9px 0 9px 25px;
}

.input::-webkit-input-placeholder {
  color: #01216b;
}

.input:-ms-input-placeholder {
  color: #01216b;
}

.input::placeholder {
  color: #01216b;
}

.input:focus {
  background: #ffffff;
  border: 1px solid #aed2e9;
  outline: none;
  box-shadow: 0px 4px 4px #eef1ff;
}
