.get-banks {
  height: 560px;
}
.get-banks-wrap {
  background-color: #0039a6;
}

.get-banks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.get-banks-person {
  background: url("./Fill1.png") no-repeat center center;
  background-size: contain;
  display: flex;
  max-width: 500px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.get-banks-person img {
  height: 93%;
  align-self: flex-end;
}

.share-banks {
  /* padding-left: 10%; */
  color: #fff;
}

.share-banks p:first-child {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
}

.share-banks p {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 70px;
}

.share-banks span {
  display: block;
}

.share-banks h3 {
  font-weight: bold;
  font-size: 44px;
  max-width: 550px;
  margin-bottom: 15px;
  line-height: 54px;
}

.share-banks-form {
  display: flex;
  position: relative;
}

.share-banks-form input {
  max-width: 450px;
  width: 100%;
}

.share-banks-form button {
  margin-left: -70px;
}

.share-banks-form input:focus {
  box-shadow: none;
  width: 100%;
}

@media (min-width: 570px) and (max-width: 920px) {
  .get-banks {
    padding: 0;
    justify-content: flex-start;
  }
  .get-banks-person {
    background: url("./Fill2.png") no-repeat left bottom;
    display: flex;
    width: 350px;
    height: 100%;
    justify-content: flex-start;
  }
  .get-banks-person img {
    height: 80%;
    margin-left: 10px;
  }
  .share-banks {
    padding: 0;
    margin-top: -50px;
    margin-left: -20px;
    width: 450px;
  }
  .share-banks p:first-child {
    margin-bottom: 0 !important;
    width: 470px;
  }
  .share-banks p {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 569px) and (min-width: 375px) {
  .get-banks {
    padding: 0 10px;
  }
  .get-banks-person {
    display: none;
  }

  .share-banks p:first-child {
    font-size: 18px;
    display: inline-block;
  }

  .share-banks h3 {
    font-size: 40px;
  }

  .share-banks p {
    font-size: 24px;
  }

  .share-banks-form {
    display: block;
  }

  .share-banks-form input {
    max-width: 100%;
    display: block;
  }

  .share-banks-form button {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
