.read-more-text {
  font-size: 16px;
  line-height: 19px;
  color: #081e31;
  max-width: 520px;
}

.read-more-text-show-all {
  color: #0039a6;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  margin-left: 10px;
}