footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01216b;
  height: 400px;
}

#footer-content {
  max-width: 663px;
  width: 100%;
  color: #fff;
  text-align: center;
}

#footer-content h4 {
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 60px;
}

#footer-content input {
  max-width: 450px;
  width: 100%;
}

#footer-content button {
  margin-left: -70px;
}

@media (max-width: 569px) and (min-width: 375px) {
  #footer-content {
    padding: 0 13px;
  }
  #footer-content h4 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  #footer-content button {
    margin: 0;
    margin-top: 15px;
    width: 100%;
  }
}
