.banks-wrap h3 {
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  color: #01216b;
  margin: 85px 0 35px 0;
}

.bank {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}
.bank:last-child {
  margin-bottom: 85px;
}

.bank-logo {
  padding: 26px 19px 22px 29px;
  background: #ffffff;
  border: 2px solid #dce4f6;
}

.bank-description {
  padding: 25px;
  background: #f8f9fe;
  border: 1px solid #dce4f6;
  margin-left: 20px;
  max-width: 830px;
  width: 100%;
}

.bank-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.bank-name h4 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #081e31;
}

.bank-name div {
  background: #0039a6;
  border-radius: 2px;
  padding: 3px 7px;
  height: min-content;
}

.bank-name a {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.bank-industry div {
  display: flex;
  margin-bottom: 12px;
  max-width: 310px;
  justify-content: space-between;
}

.bank-industry div > p {
  font-size: 18px;
  line-height: 22px;
  color: #0039a6;
}

.bank-industry p {
  font-size: 16px;
  line-height: 19px;
  color: #081e31;
  max-width: 520px;
}

.bank-industry p small {
  color: #0039a6;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  margin-left: 10px;
}

.border-bottom {
  border: 1px solid #0039a6;
  margin-top: 19px;
}

.connect-person {
  margin-top: 15px;
}

.connect-person-item {
  display: flex;
  margin-bottom: 13px;
  align-items: center;
  justify-content: space-between;
}

.connect-person-item .connect-name-email p:first-child {
  font-weight: bold;
  font-size: 18px;
  padding-right: 10px;
  flex: 0 0 60%;
  line-height: 22px;
  color: #081e31;
}
.connect-person-item .connect-name-email p:last-child {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  flex: 0 0 40%;
  color: #081e31;
}

.connect-name-email {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
}

.connect-person-item > p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0039a6;
}

.mobile-title h3 {
  display: none;
}

.mobile-bank-wrap {
  display: none;
}

@media (min-width: 570px) and (max-width: 920px) {
  .connect-person-item {
    width: 100%;
  }

  .banks-wrap {
    padding: 0 20px;
  }

  .connect-person-item {
    display: flex;
    width: 100%;
    margin-bottom: 13px;
    justify-content: space-between;
  }

  .connect-name-email {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    justify-content: space-between;
  }
  .bank-industry p small {
    margin-left: 10px;
  }
  .bank-logo img {
    width: 165px;
    height: 165px;
  }
}

@media (max-width: 569px) and (min-width: 375px) {
  .banks {
    display: none;
  }

  #banks-section {
    padding: 0 13px;
  }

  .mobile-title h3 {
    display: block;
  }

  .mobile-bank-wrap {
    display: block;
    margin-bottom: 85px;
  }

  #banks-section h3 {
    font-weight: bold;
    font-size: 40px;
    margin: 80px 0 30px 0;
    line-height: 48px;
    color: #01216b;
  }
  .mobile-bank {
    background: #f8f9fe;
    border: 1px solid #dce4f6;
    padding: 13px;
  }

  #banks-section .mobile-logo {
    background: #ffffff;
    border: 2px solid #dce4f6;
  }

  .mobile-bank-header {
    display: flex;
    justify-content: space-between;
  }

  .mobile-link {
    background: #0039a6;
    height: max-content;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .mobile-link a {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
  }

  .mobile-bank-header img {
    width: 90px;
    height: 90px;
  }

  .mobile-title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #081e31;
  }

  .mobile-industry {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;
    color: #0039a6;
    margin-bottom: 20px;
  }

  .mobile-text {
    font-size: 16px;
    line-height: 19px;
    color: #081e31;
  }

  #banks-section small {
    font-size: 14px;
    line-height: 17px;
    color: #0039a6;
    margin-left: 10px;
  }

  .border-bottom {
    border: 1px solid #0039a6;
  }

  .connect-mail {
    margin-top: 20px;
  }

  .connect-mail .connect-name {
    display: flex;
    justify-content: space-between;
  }

  .connect-name {
    margin-bottom: 5px;
  }

  .connect-mail .connect-name h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-right: 5px;
    color: #081e31;
  }

  .connect-mail .connect-name p {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: #0039a6;
  }

  .connect-mail p {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #081e31;
  }
}
